[Unit]
Description=Update Cloudflare domain to current public IP

[Service]
Type=oneshot
WorkingDirectory=%h/.local/opt/cfdyndns
ExecStart=%h/.local/opt/cfdyndns/cfdyndns
